.ant-form-item {
  display: block;
}

.ant-form label::before {
  display: none !important;
}

.ant-form-item-explain.ant-form-item-explain-error {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.ant-input-password input,
.ant-input-password input:focus {
  background-color: transparent !important;
}

.ant-input:focus {
  background-color: transparent !important;
}

.ant-input {
  background-color: transparent !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  box-shadow: none;
}

#employeeSearch::placeholder {
  color: black;
}

#employeeSearch.ant-input:focus,
#employeeSearch.ant-input:hover,
#groupSearch.ant-input:focus,
#groupSearch.ant-input:hover,
#zipCode.ant-input:focus,
#zipCode.ant-input:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.ant-input-affix-wrapper {
  background-color: transparent;
  box-shadow: none;
}

.ant-picker-range {
  background-color: transparent !important;
}

.ant-input-disabled {
  background-color: #f2f2f2 !important;
  color: black !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 99999s;
  background-color: transparent;
}

.ant-select-dropdown.filter .ant-select-item-option-selected {
  background-color: #fff;
}

.ant-select-dropdown.filter
  .ant-select-item-option-selected.ant-select-item-option-active {
  background-color: #f5f5f5 !important;
}

.ant-switch-checked {
  background-color: #b2c596;
}

.filter.ant-select {
  width: 180px;
}

.filter.ant-select .ant-select-arrow {
  right: 0;
  color: #000;
}

.filter.ant-select .ant-select-selector,
.filter.ant-select .ant-select-focused {
  padding: 0;
  color: #000;
  border: none;
  font-size: 16px;
  border-radius: 0;
  font-weight: 500;
  line-height: 18px;
  background-color: transparent;
  border-bottom: 1px solid rgb(151, 151, 151) !important;
}

.filter .ant-select-item-option-state {
  display: none;
}

.filter.ant-select .ant-select-selector .ant-select-selection-item,
.filter.ant-select .ant-select-focused .ant-select-selection-item {
  color: #000;
  padding-right: 24px;
}

.filter.ant-select
  .ant-select-selector
  .ant-select-selection-item
  .ant-checkbox-wrapper,
.filter.ant-select
  .ant-select-focused
  .ant-select-selection-item
  .ant-checkbox-wrapper,
.filter.ant-select .ant-select-selection-overflow-item .ant-checkbox-wrapper {
  display: none !important;
}

.filter.ant-select
  .ant-select-selection-overflow-item.ant-select-selection-overflow-item-rest
  .ant-select-selection-item {
  padding: 0 !important;
  border: none !important;
  margin-bottom: -1px !important;
  background-color: transparent !important;
}

.ant-select-dropdown.filter .ant-select-item-option-selected {
  background-color: #fff;
}

.ant-select-dropdown.filter
  .ant-select-item-option-selected.ant-select-item-option-active {
  background-color: #f5f5f5 !important;
}

.filter.ant-select {
  width: 180px;
}

.filter.ant-select .ant-select-arrow {
  right: 0;
  color: #000;
}

.filter.ant-select .ant-select-selector,
.filter.ant-select .ant-select-focused {
  padding: 0;
  color: #000;
  border: none;
  font-size: 16px;
  border-radius: 0;
  font-weight: 500;
  line-height: 18px;
  background-color: transparent;
  border-bottom: 1px solid rgb(151, 151, 151) !important;
}

.filter .ant-select-item-option-state {
  display: none;
}

.filter.ant-select .ant-select-selector .ant-select-selection-item,
.filter.ant-select .ant-select-focused .ant-select-selection-item {
  color: #000;
  padding-right: 24px;
}

.filter.ant-select
  .ant-select-selector
  .ant-select-selection-item
  .ant-checkbox-wrapper,
.filter.ant-select
  .ant-select-focused
  .ant-select-selection-item
  .ant-checkbox-wrapper,
.filter.ant-select .ant-select-selection-overflow-item .ant-checkbox-wrapper {
  display: none !important;
}

.filter.ant-select
  .ant-select-selection-overflow-item.ant-select-selection-overflow-item-rest
  .ant-select-selection-item {
  padding: 0 !important;
  border: none !important;
  margin-bottom: -1px !important;
  background-color: transparent !important;
}

.ant-menu > .ant-menu-item {
  border: none;
  color: white;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-menu > .ant-menu-item:hover {
  border: none;
  color: white;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-menu > .ant-menu-item-selected {
  border: none;
  color: black;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-menu > .ant-menu-item-selected:hover {
  border: none;
  color: black;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-dropdown-trigger {
  height: 30px;
}

.ant-modal-header {
  border: none;
}

.ant-modal-body {
  padding-bottom: 0;
}

.ant-modal-content {
  padding: 32px;
}

.ant-modal-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5715;
}

.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #262626;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #f0f0f0;
}

.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #262626;
}

@media (max-width: 768px) {
  .ant-form:last-child .ant-form-item .ant-form-item-label > label {
    margin-bottom: 12px;
  }
  .ant-picker-datetime-panel {
    display: flex;
    flex-direction: column;
  }
}

#tan.ant-input {
  color: white;
}

.ant-picker {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

/* Popconfirm */

.ant-popover-inner {
  max-width: 400px;
  border-radius: 4px;
}

.ant-popover-inner-content {
  padding: 16px;
}

.ant-popover-message-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.ant-popover-buttons {
  margin-top: 16px;
}

.ant-popover-buttons > .ant-btn {
  font-family: Montserrat-Bold, sans-serif;
  background: transparent;
  border-radius: 24px;
  border: 2px solid rgb(80, 102, 124);
  cursor: pointer;
  height: 32px;
  width: 139px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: uppercase;
  transition: 0.1s ease-in-out all;
}

.ant-popover-buttons > .ant-btn:hover {
  background: rgb(243, 245, 247);
}

.ant-popover-buttons > .ant-btn-primary {
  font-family: Montserrat-Bold, sans-serif;
  background: rgb(195, 206, 217);
  border: 2px solid rgb(195, 206, 217);
  cursor: pointer;
  border-radius: 24px;
  height: 32px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: uppercase;
  transition: 0.1s ease-in-out all;
}
.ant-popover-buttons > .ant-btn-primary:hover {
  background: rgb(155, 173, 191);
  border-color: rgb(155, 173, 191);
}

.ant-popover-message > .anticon {
  display: none;
}

.ant-input-number-input {
  color: black !important;
  font-weight: 700;
}

#processDetailsHistoryTable {
  margin: 40px -16px 0 -16px;
}

.ant-table-thead > tr > th {
  background-color: white;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid lightgray;
}

.ant-table-tbody > tr.indexPerson > td {
  background-color: #f5f5f4;
  font-family: Montserrat-Bold, sans-serif;
  font-weight: bold;
}

.ant-table-tbody > tr.indexPerson:hover > td {
  background: #f5f5f4;
  font-family: Montserrat-Bold, sans-serif;
  font-weight: bold;
}

.ant-form-item-no-colon {
  font-family: Montserrat-Bold, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.ant-picker-dropdown .ant-picker-time-panel + .ant-picker-footer {
  display: none;
}
