/*
  Generated with Google Webfonts Helper
  https://google-webfonts-helper.herokuapp.com/fonts/noto-sans-jp?subsets=latin
*/

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./assets/fonts/montserrat-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/montserrat-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/montserrat-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/montserrat-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/montserrat-v15-latin-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('./assets/fonts/montserrat-v15-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/montserrat-v15-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/montserrat-v15-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/montserrat-v15-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/montserrat-v15-latin-500.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('./assets/fonts/montserrat-v15-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/montserrat-v15-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/montserrat-v15-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/montserrat-v15-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/montserrat-v15-latin-600.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('./assets/fonts/Montserrat-Bold.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/Montserrat-Bold.woff2')
  format('woff2'),
    /* Super Modern Browsers */
  url('./assets/fonts/Montserrat-Bold.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/Montserrat-Bold.ttf')
  format('truetype'),
    /* Safari, Android, iOS */
  url('./assets/fonts/Montserrat-Bold.svg#Montserrat')
  format('svg'); /* Legacy iOS */
}
